<form action="/Sciense/Add" method="post">
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Quản lý khoa </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="ID" id="ID" value="0">
                    <div class="form-group">
                        <label>Tên khoa</label>
                        <input class="form-control" type="text" id="Name" name="Name" />
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input class="form-control" type="text" id="Address" name="Address" />
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea id="Description" name="Description" id="Description" value=""></textarea>
                    </div>
                    <div class="form-group" hidden>
                        <label>CreatedDate</label>
                        <input class="form-control" type="text" id="CreatedDate" name="CreatedDate" value="System.DateTime.Now" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fa fa-lightbulb-o"></i>&nbsp; Đóng</button>
                    <button type="reset" class="btn btn-warning btn-sm"><i class="fa fa-map-marker"></i>&nbsp; Làm mới</button>

                    <input type="submit" name="submit" class="btn btn-success btn-sm" id="bt_sua" value="Cập Nhật" />
                    <input type="submit" name="submit" class="btn btn-success btn-sm" id="bt_them" value="Thêm" />
                </div>

            </div>
        </div>
    </div>
</form>
<script src="~/assets/ckeditor/ckeditor.js"></script>
<script src="~/assets/ckfinder/ckfinder.js"></script>
<script>

    CKEDITOR.replace("Description");

    CKFinder.setupCKEditor(null, '/ckfinder');
</script>
<script type="text/javascript">
    function BrowseServer() {
        var finder = new CKFinder();
        finder.basePath = "~/Scrips/ckfinder";
        finder.selectActionFunction = SetFileField;
        finder.popup();
    }
</script>

